<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
  
</head>
<body>
  <header>
    <h1>Aula EJS</h1>
  </header>
  
  <ul>
    <li> Jhonatan</li>
    <li>Caroline</li>
  </ul>

  <footer>
    &copy: 2022 <br>Todos os direitos reservados
  </footer>
  
</body>
</html>